body{
    background: beige;
}
.aa{
    position: absolute;
    left: 40%;
    top: 30%;
    
}
.hh{
    color: aliceblue;
    background: rgb(171, 167, 167);
    border: 1px solid red;
    border-radius: 60%;
    padding-left: 75px;
    

}